@model Entities.UsuarioPerfil

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TAMAE - TBIP</title>
    <script type="text/javascript" src="~/scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/geral.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/menu.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/geral.css" />

    @if (TempData["Mensagem"] != null)
    {
        <script type="text/javascript" charset="utf-8">
        alert("@Html.Raw(@TempData["Mensagem"].ToString())");
        </script>
    }

    @if (TempData["FechaPopUp"] != null)
    {
        <script type="text/javascript">
        window.opener.location.reload();
        window.close();
        </script>
    }

</head>
<body>

    <div class="pop-up-admin">

        <h3>Configurações - Usuários - Perfis</h3>

        @using (Html.BeginForm("Admin", "UsuarioPerfil", FormMethod.Post))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)

            <table class="form-padrao" border="0">
                <tr>
                    <td width="50%">
                        <label class="form-negrito">Nome *</label>
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus" } })
                    </td>
                    <td colspan="2">
                        <label class="form-negrito">
                            @Html.CheckBoxFor(model => model.VisaoGlobal, new { htmlAttributes = new { @class = "form-control" } }) Visão global (visualiza dados das outras áreas)
                        </label>
                    </td>           
                </tr>
                <tr>
                    <td colspan="3">
                        <label class="form-negrito">Situação *</label>
                        @Html.DropDownListFor(x => x.IdSituacao, (SelectList)ViewBag.UsuarioPerfilSituacao, "-- Selecione --", new { @class = "form-control" })
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <label class="form-negrito">Módulos disponíveis</label>
                        @Html.ListBox("IdLista", (MultiSelectList)ViewBag.UsuarioModulo, new { size = 8, @class = "form-control" })
                    </td>
                    <td width="5%">
                        <img src="~/Images/Actions-arrow-right-icon.png" id="AdicionaModulo"  /> <br />
                        <img src="~/Images/Actions-arrow-left-icon.png" id="RemoveModulo"  />
                    </td>
                    <td>
                        <label class="form-negrito">Módulos selecionados</label>
                        @Html.ListBox("IdModulo", (MultiSelectList)ViewBag.UsuarioPerfilModulo, new { size = 8, @class = "form-control" })
                    </td>
                </tr>
                <tr class="linha-botoes-form">
                    <td colspan="3">
                        <input type="submit" value="Salvar" id="salvaPerfil" class="btn btn-secondary" />
                        <input type="reset" value="Limpar" class="btn btn-secondary" />
                        <input type="button" value="Fechar" class="btn btn-secondary" onclick="window.close();" />
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>