@model IEnumerable<Entities.UsuarioPerfil>

@{
    ViewBag.Title = "Configurações - Usuários - Perfis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Configurações - Usuários - Perfis</h3>

<p class="texto-direita"><input type="button" value="Novo registro" class="btn btn-success" onclick="AbreAdmin('Admin', 'UsuarioPerfil', '', 800, 550)" /></p>

<table class="tabela-grid">
    <thead>
        <tr>
            <th width="70%">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th width="10%">
                @Html.DisplayNameFor(model => model.VisaoGlobal)
            </th>
            <th width="30%">
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th colspan="2" class="texto-centro">Opções</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.VisaoGlobal)</td>
                    <td>@Html.DisplayFor(modelItem => item.Situacao)</td>
                    <td class="texto-centro"><img src="~/Images/Actions-document-edit-icon.png" onclick="AbreAdmin('Admin', 'UsuarioPerfil', '@item.Id', 800, 550)"></td>
                    <td class="texto-centro"><a href="@Url.Action("Inativa", "UsuarioPerfil", new { id = item.Id })"><img src="~/Images/Actions-edit-delete-icon.png" onclick="return confirm('Tem certeza que deseja inativar?')"></a></td>
                </tr>
            }
        }
    </tbody>
</table>