@model Entities.CompraAprovacao


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var pedidoModal = (IEnumerable<Entities.Compra>)ViewData["pedidoModal"];
    var pedidoMensagem = "";
    if(Session["MensagemPedido"] != null)
    {
        if(Session["MensagemPedido"].ToString() != "")
        {
            pedidoMensagem = Session["MensagemPedido"].ToString();
        }
    }
}

@if (TempData["Mensagem"] != null)
{
    <script type="text/javascript" charset="utf-8">
        alert("@Html.Raw(@TempData["Mensagem"].ToString())");
    </script>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Index</title>
    <style>
                /*#my-modal{
         width: 1500px;
         height:1150px;
          margin: auto;
          padding-top: 17%;
         vertical-align: middle;
        }*/
                /*.modal-body{
            overflow-y: auto;
        }*/
                .page-wrapper {
                    height: 100vh;
                }

                .modalDialog {
                    /*Insira o código debaixo de tudo*/
                    overflow: scroll;
                }

                .modal-body {
                    max-height: calc(110vh - 210px);
                    overflow-y: auto;
                }

                .clearfix {
                    clear: both;
                    padding: 0;
                    margin: 0;
                    height: 5px;
                    display: block;
                }

                .panel-body {
                    padding-bottom: 0;
                }

                .panel {
                    /*border: 0;*/
                    border-width: 5px;
                    border-color: #3A2303;
                    padding-bottom: 0em;
                    height: 100%;
                }

                .form-group {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                .col-md-4 {
                    padding-bottom: 5px;
                }

                .btnSemLink {
                    display: inline-block;
                    padding: 6px 12px;
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    /*touch-action: manipulation;*/
                    /*cursor: pointer;*/
                    -webkit-user-select: none;
                    border: 1px solid transparent;
                }

                .modal-dialog {
                    display: flex;
                    align-items: center;
                }

                .modal-content {
                    margin: 0 auto;
                }

                .grid-container {
                    display: grid;
                    grid-template-columns: auto auto auto;
                    padding: 5px;
                }

                .grid-container2 {
                    display: grid;
                    grid-template-columns: auto auto auto auto auto;
                    padding: 5px;
                }

                .grid-item {
                    padding: 5px;
                    text-align: left;
                }

                }

                body {
                    overflow: auto;
                }

                .page-wrapper .page-content {
                    overflow-x: initial;
                }

                .row {
                    /*margin-left: 0 !important;
                    margin-right: 0 !important;*/
                }
                .column {
                  float: left;
                  width: 50%;
                  /*height: 80px;*/
                }

                .row:after {
                  content: "";
                  display: table;
                  clear: both;
                }



                .tableFixHead {
  /*overflow: auto;*/
  height: 100px;
  width:100%;
}

.tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}

.tableFixHead th,
.tableFixHead td {
  padding: 8px 16px;
}


td:first-child, th:first-child {
  position:sticky;
  left:0;
  z-index:1;
}
td:nth-child(2),th:nth-child(2),th:nth-child(3),th:nth-child(4),th:nth-child(5)  { 
position:sticky;
  /*left:40px;*/
  z-index:1;
  }
.tableFixHead th {
  position: sticky;
  top: 0;
  z-index:2
}
th:first-child , th:nth-child(2),th:nth-child(3), th:nth-child(4),th:nth-child(5) {
  z-index:3
  }
#motivo_chosen{
 width:35% !important;   
}
    </style>

</head>
@using (Html.BeginForm("Index", "CompraAprovacao", FormMethod.Post, new { id = "myForm" }))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()

    <body style="">
        <input hidden id="motivoModel" value="@Model.Motivo" />

        <div class="page-wrapper chiller-theme">
            <div class="page-wrapper chiller-theme">
                @*<main class="page-content" style="margin-top:0;padding-top:0;position:fixed;top:4px;left:21px;width:97%;z-index:100">
                    <div class="stepwizard" style="padding-bottom:0;padding-left:0;left:14px;position:relative;">
                            <fieldset>
                                <legend style="margin-bottom:0;top:0;font-size:18px;background-color:white">Compras - Controle de Liberação de Pedido de Compra para Ajustes</legend>
                            </fieldset>
                    </div>
                </main>*@

                <main class="page-content" style="margin-top:0;padding-top:0;position:fixed;top:5px;left:16px;z-index:99">
                    <div class="stepwizard" style="padding-bottom:0;padding-left:0;left:20px;position:relative">
                        <div class="stepwizard">
                            <fieldset>
                                <legend style="margin-bottom:0;top:0;font-size:18px;background-color:white">Compras - Controle de Liberação de Pedido de Compra para Ajustes</legend>
                            </fieldset>
                        </div>
                    </div>
                </main>
                <br />

                <main class="page-content" style="height:100vh">
                    <div class="container-fluid" style="padding-top:25px;padding-left: 21px;">
                        <div class="col-xs-12" style="padding-left:0">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <form role="form">

                                        @*<legend>Integração com fornecedor</legend>*@

                                        <div id="divPedidosSelecionados" @*style="margin-left:120px;"*@>

                                            <div class="panel with-nav-tabs panel-default" style="padding-bottom: 0;margin-bottom:0">
                                                <div class="panel-heading" style="background-color:lightgray">
                                                    Peedido de Compra
                                                </div>
                                                <div class="panel-body">
                                                    <div class="tab-content">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group" style="margin-bottom:10px">
                                                                    @*<div class="col-md-3" style="padding-bottom:5px;">
                                                                        @Html.Label("Fornecedor", new { @class = "form-negrito" })
                                                                        @Html.ListBox("fornecedorNome", (SelectList)ViewBag.Fornecedores, new { @class = "chosen-select", @style = "width:100px;height:26px" })
                                                                        <span hidden id="fornecedorErro" style="color:red">Selecione o fornecedor.</span>
                                                                    </div>*@
                                                                    <div class="col-md-7">
                                                                        @Html.Label("Tipo movimento", new { @class = "form-negrito" })
                                                                        @Html.DropDownList("tipoMovimento", (SelectList)ViewBag.TipoMovimento, "-- Selecione --", new { @class = "chosen-select", @style = "width:200px;height:26px" })
                                                                        <span hidden id="tipoMovimentoErro" style="color:red">Selecione o tipo do movimento.</span>
                                                                    </div>
                                                                    <div class="col-md-3" style="margin-right:0">
                                                                        @Html.Label("Nro pedido", new { @class = "form-negrito" })
                                                                        @Html.Editor("numeroMov", new { htmlAttributes = new { @class = "form-control", @maxlengh = 35, @autocomplete = "off", @style = "width:170px;height:26px" } })
                                                                        <span hidden id="numeroMovErro" style="color:red">Digite o número mov.</span>
                                                                    </div>
                                                                    <div class="col-md-2" style="margin-right:0">
                                                                        <div style="padding-top:20px;padding-right:20px">
                                                                            <button style="height:27px" class="btn btn-primary btn-sm pull-right" id="btnFiltrar" value="exibir" name="exibir" type="button">Exibir</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <br />

                                            <div class="panel with-nav-tabs panel-default" style="padding-bottom: 0;margin-bottom:0">
                                                <div class="panel-heading" style="background-color:lightgray;padding: 5px 15px;">
                                                    <table style="width:100%">
                                                        <tr>
                                                            <td style="width:150px;padding-top: 3px;"><span>Pedido: @Model.Pedido - @Model.tipoMovimento</span></td>
                                                            @if (pedidoMensagem != "")
                                                            {
                                                                <td style="text-align:left;"><span style="color:red;font-weight:bold;font-size:16px">@Session["MensagemPedido"].ToString()</span></td>
                                                            }
                                                            @if (Model != null)
                                                            {
                                                                if (Model.LstCompraAprovacao != null & Model.LstCompraAprovacao.Count() > 0)
                                                                {
                                                                    foreach (Entities.CompraAprovacao item in Model.LstCompraAprovacao)
                                                                    {
                                                                        <td style="text-align:left">Identificador: <span id="idMovCompra">@item.idMov</span></td>
                                                                        if (item.Status_Pedido.ToUpper() == "ABERTO")
                                                                        {
                                                                            <td style="text-align:right">Status: <span style="background-color: greenyellow;">@item.Status_Pedido.ToUpper()</span></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td style="text-align:right">Status: <span style="background-color: orangered;">@item.Status_Pedido.ToUpper()</span></td>
                                                                        }

                                                                    }
                                                                }

                                                            }
                                                            else
                                                            {
                                                                <td style="text-align:right">Identificador:</td>
                                                            }
                                                        </tr>
                                                    </table>
                                                   @if (Model.LstJustificativa != null)
                                                   {
                                                       foreach (var obs in Model.LstJustificativa)
                                                       {
                                                           <table>
                                                               <tr>
                                                                   <td style="color:red">@obs.Observacao</td>
                                                               </tr> 
                                                           </table>
                                                       }
                                                   }


                                                </div>
                                                <table id="tblDeclaracao" class="table table-striped table-responsive table-bordered" cellspacing="20" style="white-space: nowrap;width:98%;font-size:10px">
                                                    <tbody id="tbodyDeclaracao"></tbody>
                                                </table>



                                                @if (Model != null)
                                                {
                                                    if (Model.LstCompraAprovacao != null & Model.LstCompraAprovacao.Count() > 0)
                                                    {
                                                        foreach (Entities.CompraAprovacao item in Model.LstCompraAprovacao)
                                                        {
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <span style="font-weight:bold;padding-left:5px">Filial: <span style="font-weight:initial">@item.Filial</span></span>
                                                                    </td>
                                                                    <td>
                                                                        @if (@item.DataEmissao != null)
                                                                        {
                                                                            <span style="font-weight:bold;padding-left:50px">Dt. emissão: </span>
                                                                                    <span id="dt_emissao">@item.DataEmissao.Value.ToString("dd/MM/yyyy")</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span style="font-weight:bold;padding-left:50px">Dt. emissão: </span>
                                                                                    <span id="dt_emissao"></span>
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @if (@item.DataAprovacao != null)
                                                                        {
                                                                            <span style="font-weight:bold;padding-left:50px">Dt. Aprovação: </span>
                                                                                    <span id="data_aprovação">@item.DataAprovacao.Value.ToString("dd/MM/yyyy")</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span style="font-weight:bold;padding-left:50px">Dt. Aprovação: </span>
                                                                                    <span id="data_aprovação"></span>
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        <span style="font-weight:bold;padding-left:50px">Moeda:</span>
                                                                        <span>@item.Moeda</span>
                                                                    </td>
                                                                    <td>
                                                                        <span style="font-weight:bold;padding-left:50px">Fornecedor:</span>
                                                                        <span>@item.Fornecedor</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span style="font-weight:bold;padding-left:5px">CNPJ: <span style="font-weight:initial">@item.CNPJ</span></span>
                                                                    </td>
                                                                    <td>
                                                                        @if (@item.DataVencimento != null)
                                                                        {
                                                                            <span style="font-weight:bold;padding-left:50px">Dt. Vencimento: </span>
                                                                                    <span id="dt_vencimento">@item.DataVencimento.Value.ToString("dd/MM/yyyy")</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span style="font-weight:bold;padding-left:50px">Dt. Vencimento: </span>
                                                                                    <span id="dt_vencimento"></span>
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        <span style="font-weight:bold;padding-left:50px">Status Aprovação:</span>
                                                                        <span>@item.Status_Aprovacao</span>
                                                                    </td>
                                                                    <td>
                                                                        <span style="font-weight:bold;padding-left:50px">Valor:</span>
                                                                        <span>@string.Format("{0:#,##0.00#}", @item.Valor)</span>
                                                                    </td>
                                                                    <td>
                                                                        <span style="font-weight:bold;padding-left:50px">Status Pedido:</span>
                                                                        <span>@item.Status_Pedido</span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            @*<div class="row">
                                                                <div class="column" style="padding-left: 5px;border-right: 2px solid lightgray;">
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                <span style="font-weight:bold">Filial: <span style="font-weight:initial">@item.Filial</span></span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <span style="font-weight:bold">CNPJ: <span style="font-weight:initial">@item.CNPJ</span></span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                @if (@item.DataEmissao != null)
                                                                                {
                                                                                    <span style="font-weight:bold">Dt. emissão: </span>
                                                                                    <span id="dt_emissao">@item.DataEmissao.Value.ToString("dd/MM/yyyy")</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span style="font-weight:bold">Dt. emissão: </span>
                                                                                     <span id = "dt_emissao" ></span>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                @if (@item.DataVencimento != null)
                                                                                {
                                                                                    <span style="font-weight:bold">Dt. Vencimento: </span>
                                                                                    <span id="dt_vencimento">@item.DataVencimento.Value.ToString("dd/MM/yyyy")</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span style="font-weight:bold">Dt. Vencimento: </span>
                                                                                    <span id="dt_vencimento"></span>
                                                                                }
                                                                               
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                @if (@item.DataAprovacao != null)
                                                                                {
                                                                                    <span style="font-weight:bold">Dt. Aprovação: </span>
                                                                                    <span id="data_aprovação">@item.DataAprovacao.Value.ToString("dd/MM/yyyy")</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span style="font-weight:bold">Dt. Aprovação: </span>
                                                                                    <span id="data_aprovação"></span>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                                <div class="column" style="padding-left: 5px;">
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                <span style="font-weight:bold">Fornecedor:</span>
                                                                                <span>@item.Fornecedor</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <span style="font-weight:bold">Moeda:</span>
                                                                                <span>@item.Moeda</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <span style="font-weight:bold">Valor:</span>
                                                                                <span>@string.Format("{0:#,##0.00#}", @item.Valor)</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <span style="font-weight:bold">Status Aprovação:</span>
                                                                                <span>@item.Status_Aprovacao</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <span style="font-weight:bold">Status Pedido:</span>
                                                                                <span>@item.Status_Pedido</span>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                    else
                                                    {

                                                        <div class="row">
                                                            <div class="column" style="padding-left: 5px;border-right: 2px solid lightgray;">
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="font-weight:bold">Filial: </span>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="font-weight:bold">CNPJ: </span>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="font-weight:bold">Dt. emissão: </span>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="font-weight:bold">Dt. Vencimento: </span>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="font-weight:bold">Dt. Aprovação: </span>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="font-weight:bold">Observação: </span>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                            <div class="column" style="padding-left: 5px;">
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="font-weight:bold">Fornecedor:</span>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="font-weight:bold">Valor:</span>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="font-weight:bold">Status Aprovação:</span>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="font-weight:bold">Status Pedido:</span>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="font-weight:bold">Status Integração:</span>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>*@
                                                            }
                                                        }
                                                    }
                                                
                                            </div>
                                            <br />
                                            <div class="panel with-nav-tabs panel-default">
                                                <div class="panel-heading" style="background-color:lightgray">
                                                    Itens do Pedido
                                                </div>
                                                <div class="panel-body">
                                                    <div class="tableFixHead" style="overflow:auto;height:1%;max-height:217px">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th style="background-color:white;text-align:center">Item Pedido</th>
                                                                    <th style="background-color:white;text-align:center">Cod. Produto</th>
                                                                    <th style="background-color:white;text-align:center">PN</th>
                                                                    <th style="background-color:white;text-align:center">NCM</th>
                                                                    <th style="background-color:white;text-align:left;width:550px">Descrição</th>
                                                                    <th style="background-color:white;text-align:center">UND</th>
                                                                    <th style="background-color:white;text-align:right">QTD</th>
                                                                    <th style="background-color:white;text-align:right">Preço</th>
                                                                    <th style="background-color:white;text-align:right">Valor</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model != null)
                                                                {
                                                                    if (Model.LstCompraAprovacao != null & Model.LstCompraAprovacao.Count() > 0)
                                                                    {
                                                                        foreach (Entities.CompraAprovacao item in Model.LstItem)
                                                                        {
                                                                            <tr>


                                                                                <td style="text-align:center">@item.Item_Pedido</td>
                                                                                <td style="text-align:center">@item.CodigoPrd</td>
                                                                                <td style="text-align:center">@item.PN</td>
                                                                                <td style="text-align:center">@item.NCM</td>
                                                                                <td style="text-align:left">@item.Descricao</td>
                                                                                <td style="text-align:center">@item.UND</td>
                                                                                <td style="text-align:right">@string.Format("{0:#,##0.00#}", @item.qtd)</td>
                                                                                <td style="text-align:right">@string.Format("{0:#,##0.00#}", @item.preco)</td>
                                                                                <td style="text-align:right">@string.Format("{0:#,##0.00#}", @item.Valor) </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    @*<button class="btn btn-primary nextBtn btn-md pull-right" type="submit">Continuar</button>*@
                                                </div>
                                            </div>

                                            <div class="panel with-nav-tabs panel-default">
                                                <div class="panel-heading" style="background-color:lightgray">
                                                    Aprovações
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center">Enviado</th>
                                                                    <th style="text-align:center">Data Inclusão</th>
                                                                    <th style="text-align:center">Aprovador</th>
                                                                    <th style="text-align:center">Data Finalização</th>
                                                                    <th style="text-align:center">Status</th>
                                                                    <th style="text-align:center">Comentário</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model != null)
                                                                {
                                                                    if (Model.LstAprovacao != null & Model.LstAprovacao.Count() > 0)
                                                                    {
                                                                        foreach (Entities.CompraAprovacao item in Model.LstAprovacao)
                                                                        {
                                                                            <tr>
                                                                                <td style="text-align:center">@item.Enviado</td>
                                                                                <td style="text-align:center">@item.DataInclusao.ToString("dd/MM/yyyy")</td>
                                                                                <td style="text-align:center">@item.Aprovador</td>
                                                                                <td style="text-align:center">@item.DataFinalizacao.ToString("dd/MM/yyyy")</td>
                                                                                <td style="text-align:center">@item.Status</td>
                                                                                <td style="text-align:center">@item.Comentario</td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    @*<button class="btn btn-primary nextBtn btn-md pull-right" type="submit">Continuar</button>*@
                                                </div>
                                            </div>

                                @if (Model != null)
                                {
                                    if (Model.LstJustificativa != null & Model.LstJustificativa.Count() > 0)
                                    {
                                        foreach (Entities.CompraAprovacao item in Model.LstJustificativa)
                                        {
                                            @*if (item.Exibir_Editar == "N" & item.Exibir_Liberar == "N")
                                            {
                                                <script charset="utf-8">
                                                </script>
                                            }
                                            else
                                            {*@
                                if ((item.Exibir_Editar == "S" || item.Exibir_Liberar == "S" || item.Exibir_Liberar == "S") & pedidoMensagem == "")
                                            {
                                                <div class="panel with-nav-tabs panel-default" style="padding-bottom: 10px" id="painelEdicao">
                                                    <div class="panel-heading" style="background-color:lightgray">
                                                        Edição
                                                    </div>
                                                    <div class="panel-body" style="padding: 8px !important;">
                                                        <input id="IdLiberacaoPO" hidden value="@item.IdLiberacaoPO"/>
                                                        <div style="padding-bottom:10px !important">
                                                            <table>
                                                                <tr>
                                                                    <td style="font-weight:bold;padding-right:50px">ID: <span >@item.IdLiberacaoPO</span></td>
                                                                    <td style="font-weight:bold;padding-right:50px">RESPONSÁVEL: @item.Responsavel</td>
                                                                    @*<td style="font-weight:bold">DATA: @item.Data_Edicao.Value.ToString("HH:mm:ss.fff tt")</td>*@
                                                                    <td style="font-weight:bold">DATA: @item.Data_Edicao.Value.ToString("dd/MM/yyyy")</td>

                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div style="padding-bottom: 10px !important;display:flex">
                                                            <label class="form-negrito" for="" style="margin-bottom:0 !important;padding: 5px 10px 5px 0px;">Motivo:</label>
                                                            @*@Html.DropDownListFor(x => x.Motivo, (SelectList)ViewBag.Motivo, "-- Selecione --", new { @class = "chosen-select", @style = "width:50px;height:26px" })*@
                                                            @Html.DropDownList("motivo", (SelectList)ViewBag.Motivo, "-- Selecione --", new { @class = "chosen-select", @style = "width:50%;height:26px" })
                                                       
                                                         </div>
                                                        <label >Justificativa / Complemento</label>
                                                        @Html.TextAreaFor(m => m.Justificativa_Edicao, new
                                                        {
                                                            maxlength = 100, // or other value
                                                            style = "width: 100%; height: 40px;",
                                                            id = "txtJustificativa"
                                                        })
                                                        <div id="txtJustificativaDiv">
                                                            <span id="txtJustificativaErro" style="color:red"></span><br />
                                                        </div>
                                                        @if (item.Exibir_Editar == "S")
                                                        {
                                                            <button id="btnEditarPedido" class="btn btn-primary" type="button" onclick="editarPedido()">Editar Pedido</button>
                                                        }
                                                        @if (item.Exibir_Liberar == "S")
                                                        {
                                                            <button id="btnLiberarPedido" class="btn btn-primary" type="button" onclick="liberarPedido()">Liberar Pedido</button>
                                                        }
                                                        @if (item.Exibir_Cancelar == "S")
                                                        {
                                                            <button id="btnCancelarPedido" class="btn btn-primary" type="button" onclick="cancelarPedido()">Cancelar Edição</button>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }

                                                </div>
</form>
                                </div><!-- /.modal-dialog -->
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/scripts/jquery-ui.js"></script>
        <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="~/scripts/chosen.jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="~/Content/chosen.css" />
        <link href="~/content/indexcompras.css" rel="stylesheet" />
        <script>
            $(window).load(function () {
                $(".chosen-select").chosen()
            });
        </script>

        <script>
            $("document").ready(function () {
                let permitir_editar = "@Html.Raw(ViewBag.PermitirEditar.ToString())";
                //alert(permitir_editar);
                if (permitir_editar != "SIM") {
                    $('#painelEdicao').hide();
                }

                let motivo = $('#motivoModel').val();
                $("#motivo").val(motivo);
                $("#motivo").trigger("chosen:updated")
               // alert(motivo)
            });

            $('#btnFiltrar').click(function () {
                let tipoMovimento = $('#tipoMovimento').val();
                let numeroMov = $('#numeroMov').val();
                if (tipoMovimento.length > 0 & numeroMov.length > 0) {
                    //var exibir = $("<input>")
                    //.attr("name", "exibir").val("exibir");

                    //$('#myForm').append(exibir);
                    //$('#myForm').submit();

                    $.ajax({
                        url: '@Url.Action("Index", "CompraAprovacao")',
                        traditional: true,
                        contentType: 'json',
                        data: { tipoMovimento: tipoMovimento, numeroMov: numeroMov, exibir:"exibir" },
                        //success: function (data) { $('#exampleModal').toggle(); }
                        success: function (response) {
                            var exibir = $("<input>")
                            .attr("name", "exibir").val("exibir");

                            $('#myForm').append(exibir);
                            //alert(response)
                            $('#myForm').submit();
                        },
                        error: function (xhr, textStatus, exceptionThrown) {
                            //$('#btnagendar').attr("disabled", true);
                            //alert("Erro");
                            $('#myForm').submit();

                        }
                    });
                }
                else {
                    if (tipoMovimento.length > 0) {
                        $('#numeroMovErro').show();
                    }
                    else {
                        $('#tipoMovimentoErro').show();
                    }

                }
            });

            $('#tipoMovimento').change(function () {
                $('#tipoMovimentoErro').hide();
            });

            $('#numeroMov').keyup(function () {
                $('#numeroMovErro').hide();
            });

            //$('#btnEditarPedido').click(function () {
            //    let justificativa = $('#txtJustificativa').val();

            //    if (justificativa.length < 3)
            //    {
            //        //$('#txtJustificativaDiv').show();
            //        $('#txtJustificativaErro').text('O campo "Justificativa" é obrigatório.');
            //    }              
            //});

            //$('#btnLiberarPedido').click(function () {
            //    let justificativa = $('#txtJustificativa').val();

            //    if (justificativa.length < 3) {
            //       // $('#txtJustificativaDiv').show();
            //        $('#txtJustificativaErro').text('O campo "Justificativa" é obrigatório.');
            //    }
            //});


            $('#btnCancelarPedido').click(function () {
                let justificativa = $('#txtJustificativa').val();

                if (justificativa.length < 3) {
                    //$('#txtJustificativaDiv').show();
                    $('#txtJustificativaErro').text('O campo "Justificativa" é obrigatório.');
                }
            });


            $('#txtJustificativa').keyup(function () {
                $('#txtJustificativaDiv').hide();
                $('#txtJustificativaErro').text('');
            })
            //$('#motivo').change(function () {
            //    //$('#txtJustificativaDiv').hide();
            //    $('#txtJustificativaErro').text('');
            //})


        </script>

        <script>
            $(function () {
                $(".datepickerInput").datepicker({ dateFormat: 'dd/mm/yy' }).val();
                $('#importacaoRegularInput').attr("disabled", true);
            });

            function isValidDate(date, campo) {
                var temp = date.split('/');
                var d = new Date(temp[1] + '/' + temp[0] + '/' + temp[2]);
                var result = (d && (d.getMonth() + 1) == temp[1] && d.getDate() == Number(temp[0]) && d.getFullYear() == Number(temp[2]));
                if (result == false) {
                    $(campo).text("Data inválida.");
                    $("#btnFiltrar").attr("disabled", true)
                }
                else {
                    $("#btnFiltrar").attr("disabled", false)
                    $(campo).text('');
                }
            }
            $('#strDataInicio').blur(function () {
                var dtInicio = $('#strDataInicio').val();

                if (dtInicio.length == 0) {
                    $('#dtIniciDivErro').html('');
                    $("#btnFiltrar").attr("disabled", false)
                }
            })

            $('#strDataFim').blur(function () {
                var dtFim = $('#strDataFim').val();

                if (dtFim.length == 0) {
                    $('#dtFimDivErro').html('');
                    $("#btnFiltrar").attr("disabled", false)
                }
            })


            $('#btnFiltrar').click(function () {
                var dtInicio = $('#strDataInicio').val();
                var dtFim = $('#strDataFim').val();


                if (dtInicio.length > 0 & dtFim.length > 0) {
                    var input = $("<input>")
                    .attr("name", "exibir").val("exibir");

                    $('#myForm').append(input);
                    $('#myForm').submit();
                }
                else {
                    if (dtInicio.length == 0) {
                        $('#dtIniciDivErro').html('Selecione a data.');
                    }

                    if (dtFim.length == 0) {
                        $('#dtFimDivErro').html('Selecione a data.');
                    }

                    //$('#fatDivErro').html('Selecione Faturamento');
                    $("#btnFiltrar").attr("disabled", true)
                }
            })


            function desbloquearPedido(idIntegracao, idMov) {
                $.ajax({
                    url: '@Url.Action("DesbloquearPedido", "Compra")',
                    type: 'get',
                    data: { idIntegracao: idIntegracao, idMov: idMov },
                    //success: function (data) { $('#exampleModal').toggle(); }
                    success: function (data) {
                        $('#idMov').remove();
                        var input = $("<input>")
                          .attr("type", "hidden")
                          .attr("name", "idMov").val(idMov);
                        $('#myForm').append($(input));
                        $('#myForm').submit();
                    },
                    error: function (xhr, textStatus, exceptionThrown) {
                        //$('#btnagendar').attr("disabled", true);
                        alert(exceptionThrown);
                    }
                });
            }

            function Informativo(idMov, comentario) {
                $.ajax({
                    url: '@Url.Action("Informativo", "ImportacaoDocumento")',
                    traditional: true,
                    data: { idMov, comentario},
                    contentType: 'json',

                    success: function (response) {
                        var documento = response[0].Documento;
                        $('#documentoModal').html($("#documento option:selected").text() + ' - ' + documento);

                        var filial = response[0].Filial;
                        $('#filial_Modal').html(filial);

                        var dtEmissao = response[0].DataEmissao;
                        $('#dtEmissao_Modal').html(dtEmissao);

                        var status = response[0].Status;
                        $('#status_Modal').html(status);

                        var moeda = response[0].Moeda;
                        $('#moeda_Modal').html(moeda);

                        var valor = response[0].Valor;
                        valor = valor != 0 ? parseFloat(valor).toLocaleString() : '';
                        $('#valor_Modal').html(valor);

                        var condicao_Pagamento = response[0].Condicao_Pagamento;
                        $('#condPagamento_Modal').html(condicao_Pagamento);

                        var fornecedor = response[0].Fornecedor;
                        $('#fornecedor_Modal').html(fornecedor);

                        var comprador = response[0].Comprador;
                        $('#comprador_Modal').html(comprador);

                        $('#consideracoes_Modal').html(comentario);



                        $('#modalInformativo').modal({
                            show: true,
                            closeOnEscape: true,
                            backdrop: 'static',
                            keyboard: false
                        })


                    },
                    error: function (xhr, textStatus, exceptionThrown) {
                        //alert(exceptionThrown);
                    },
                });
            };
            function func(res) {
                alert('teste')
            }

            $(".datepickerInput").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });

            $('.menuCompras .sidebar-submenu').addClass("active");
            $('.menuCompras .sidebar-submenu').toggle();

            function liberarPedido() {
                let justificativa = $('#txtJustificativa').val();
                let idMov = $('#idMovCompra').text();
                let motivo = $('#motivo').val();
                let idLiberacaoPO = $('#IdLiberacaoPO').val();
                $.ajax({
                    url: '@Url.Action("VerificarMotivo", "CompraAprovacao")',
                    type: 'get',
                    dataType: "json",
                    data: { justificativa: justificativa, motivo: motivo },
                    //success: function (data) { $('#exampleModal').toggle(); }
                    success: function (data) {
                        if (data == "") {
                            $.ajax({
                                url: '@Url.Action("LiberarPedido", "CompraAprovacao")',
                                type: 'get',
                                dataType: "json",
                                data: { justificativa: justificativa, idMov: idMov, motivo: motivo, idLiberacaoPO: idLiberacaoPO },
                                //success: function (data) { $('#exampleModal').toggle(); }
                                success: function (data) {
                                    $('#exibir2').remove();
                                    let exibir = $("<input>")
                                      .attr("type", "hidden")
                                      .attr("name", "exibir2").val("exibir");
                                    $('#myForm').append($(exibir));
                                    $('#myForm').submit();
                                }
                            });
                        }
                        else {
                            //if (justificativa.length < 3) {
                                //  $('#txtJustificativaDiv').show();
                                $('#txtJustificativaErro').text('O campo "Justificativa" é obrigatório.');
                            //}
                        }

                    }
                });
            }

            function editarPedido() {
                let justificativa = $('#txtJustificativa').val();
                let idMov = $('#idMovCompra').text();
                let motivo = $('#motivo').val();
                let idLiberacaoPO = $('#IdLiberacaoPO').val();
                $.ajax({
                    url: '@Url.Action("VerificarMotivo", "CompraAprovacao")',
                    type: 'get',
                    dataType: "json",
                    data: { justificativa: justificativa, motivo: motivo },
                    //success: function (data) { $('#exampleModal').toggle(); }
                    success: function (data) {
                   if (data == "") {
                    $.ajax({
                        url: '@Url.Action("EditarPedido", "CompraAprovacao")',
                        type: "GET",
                        dataType: "json",
                        data: { justificativa: justificativa, idMov: idMov, motivo: motivo },
                        success: function (data) {
                            $('#exibir2').remove();
                            let exibir = $("<input>")
                              .attr("type", "hidden")
                              .attr("name", "exibir2").val("exibir");
                            $('#myForm').append($(exibir));
                            $('#myForm').submit();
                        }
                    });

                        }
                        else {
                            //if (justificativa.length < 3) {
                                //  $('#txtJustificativaDiv').show();
                                $('#txtJustificativaErro').text('O campo "Justificativa" é obrigatório.');
                            //}
                        }

                    }
                });
            }
            function cancelarPedido() {
                let justificativa = $('#txtJustificativa').val();
                let idMov = $('#idMovCompra').text();
                if (justificativa != "" & justificativa != null) {
                    $.ajax({
                        url: '@Url.Action("cancelarPedido", "CompraAprovacao")',
                        type: 'get',
                        dataType: "json",
                        data: { justificativa: justificativa, idMov: idMov, motivo: motivo },
                        //success: function (data) { $('#exampleModal').toggle(); }
                        success: function (data) {
                            $('#exibir2').remove();
                            let exibir = $("<input>")
                              .attr("type", "hidden")
                              .attr("name", "exibir2").val("exibir");
                            $('#myForm').append($(exibir));
                            $('#myForm').submit();
                        }
                    });
                }
            }
        </script>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </body>
}
</html>
