@model Entities.Cavok


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var pedidoModal = (IEnumerable<Entities.Compra>)ViewData["pedidoModal"];
}

@if (TempData["Mensagem"] != null)
{
    <script type="text/javascript" charset="utf-8">
        alert("@Html.Raw(@TempData["Mensagem"].ToString())");
    </script>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
                /*#my-modal{
         width: 1500px;
         height:1150px;
          margin: auto;
          padding-top: 17%;
         vertical-align: middle;
        }*/
                /*.modal-body{
            overflow-y: auto;
        }*/
                .page-wrapper {
                    height: 100vh;
                }

                .modalDialog {
                    /*Insira o código debaixo de tudo*/
                    overflow: scroll;
                }

                .modal-body {
                    max-height: calc(110vh - 210px);
                    overflow-y: auto;
                }

                .clearfix {
                    clear: both;
                    padding: 0;
                    margin: 0;
                    height: 5px;
                    display: block;
                }

                .panel-body {
                    padding: 0 !important;
                }

                .panel {
                    /*border: 0;*/
                    border-width: 5px;
                    border-color: #3A2303;
                    padding-bottom: 0em;
                    height: 100%;
                }

                .form-group {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                .col-md-4 {
                    padding-bottom: 5px;
                }

                .btnSemLink {
                    display: inline-block;
                    padding: 6px 12px;
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    /*touch-action: manipulation;*/
                    /*cursor: pointer;*/
                    -webkit-user-select: none;
                    border: 1px solid transparent;
                }

                .modal-dialog {
                    display: flex;
                    align-items: center;
                }

                .modal-content {
                    margin: 0 auto;
                }

                .grid-container {
                    display: grid;
                    grid-template-columns: auto auto auto auto auto auto;
                    padding: 5px;
                }

                .grid-container2 {
                    display: grid;
                    grid-template-columns: auto auto auto auto auto;
                    padding: 5px;
                }

                .grid-item {
                    padding: 5px;
                    text-align: left;
                }

                }

                body {
                    overflow: auto;
                }

                .page-wrapper .page-content {
                    overflow-x: initial;
                }
    </style>

</head>
@using (Html.BeginForm("Index", "Cavok", FormMethod.Post, new { id = "myForm" }))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()


    <body style="">
        <div class="page-wrapper chiller-theme">
            <main class="page-content" style="margin-top:0;padding-top:0;position:absolute;top:5px;left:21px;">
                <div class="stepwizard" style="padding-bottom:0;padding-left:0;left:20px;position:relative">
                    <fieldset>
                        <legend style="margin-bottom:0;top:0;font-size:18px;background-color:white">Cavok </legend>
                    </fieldset>
                </div>
            </main>
            <br />
            <main class="page-content">
                <div class="container-fluid" style="padding-top:25px;padding-left: 21px;">
                    <div class="col-xs-12" style="padding-left:0">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <form role="form">

                                    <fieldset>

                                        @*<legend>Integração com fornecedor</legend>*@

                                        <div id="divPedidosSelecionados" @*style="margin-left:120px;"*@>

                                            <div class="panel with-nav-tabs panel-default" style="padding-bottom: 0;margin-bottom:0;">
                                                <div class="panel-heading" style="background-color:lightgray">
                                                    Filtro - Faturamento
                                                </div>
                                                <div class="panel-body" style="padding-bottom:0;">
                                                    <div class="grid-container">
                                                        <div class="grid-item">
                                                            <label class="form-negrito">Data início</label>
                                                            @Html.Editor("strDataInicio", new { htmlAttributes = new { @style = "width:100px;height:26px", @class = "form-control datepickerInput", id = "strDataInicio", @onchange = "isValidDate(this.value, '#dtIniciDivErro')", @autocomplete = "off" } })
                                                            <div style="color: red" id="dtIniciDivErro">
                                                            </div>
                                                        </div>
                                                        <div class="grid-item">
                                                            @Html.Label("Data fim", new { @class = "form-negrito" })
                                                            @Html.Editor("strDataFim", new { htmlAttributes = new { @style = "width:100px;height:26px", @class = "form-control datepickerInput", id = "strDataFim", @onchange = "isValidDate(this.value, '#dtFimDivErro')", @autocomplete = "off" } })
                                                            <div style="color: red" id="dtFimDivErro">
                                                            </div>
                                                        </div>
                                                        <div class="grid-item">
                                                            @Html.Label("Tipos de Faturamento", new { @class = "form-negrito" })
                                                            @Html.DropDownList("faturamento", (SelectList)ViewBag.TipoFaturamento, "-- Selecione -- ", new { @class = "chosen-select", @style = "width:100px;height:26px" })
                                                            <div style="color: red" id="fatDivErro">
                                                            </div>
                                                        </div>
                                                        <div class="grid-item">
                                                            @Html.Label("Número", new { @class = "form-negrito" })
                                                            @Html.Editor("numeroMov", new { htmlAttributes = new { @class = "form-control", @maxlengh = 35, @autocomplete = "off", @style = "width:100px;height:26px" } })
                                                        </div>
                                                        <div class="grid-item">
                                                            @Html.Label("Status", new { @class = "form-negrito" })
                                                            @Html.DropDownList("situacao", (SelectList)ViewBag.Situacao, "-- Selecione -- ", new { @class = "chosen-select", @style = "width:100px;height:26px" })
                                                        </div>
                                                        <div style="padding-top:20px;text-align:right">
                                                            <button style="height:27px" class="btn btn-primary btn-sm" id="btnFiltrar" name="exibir" type="button">Exibir</button>
                                                            @if (ViewBag.ExportaExcel == true)
                                                            {
                                                                if (Model != null)
                                                                {
                                                                    if (Model.lstItens != null)
                                                                    {
                                                                        if (Model.lstItens.Count > 0)
                                                                        {
                                                                            <a style="height:27px" class="btn btn-success btn-sm" title="Download Excel" onclick="location.href='@Url.Action("DownloadExcel", "Cavok", new { })'">Exportar</a>
                                                                        }
                                                                        else
                                                                        {
                                                                        <a style="height:27px" class="btn btn-success btn-sm" title="Download Excel" onclick="alert('Não há dados a serem exportados.')">Exportar</a>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                    <a style="height:27px" class="btn btn-success btn-sm" title="Download Excel" onclick="alert('Não há dados a serem exportados.')">Exportar</a>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                <a style="height:27px" class="btn btn-success btn-sm" title="Download Excel" onclick="alert('Não há dados a serem exportados.')">Exportar</a>
                                                                }
                                                            }

                                                        </div>


                                                    </div>
                                                    @*<button class="btn btn-primary nextBtn btn-md pull-right" type="submit">Filtrar</button>*@

                                                </div>

                                            </div>
                                            @*<legend>Selecionar pedidos de compra</legend>*@
                                            <br />
                                            <div class="panel with-nav-tabs panel-default" style="padding-bottom: 0;margin-bottom:0">
                                                <div class="panel-heading" style="background-color:lightgray">
                                                    Faturamento
                                                </div>
                                                <div class="panel-body" style="padding-bottom: 0;margin-bottom:0">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center">Data</th>
                                                                    <th style="text-align:center">ID</th>
                                                                    <th style="text-align:center">Número</th>
                                                                    <th style="text-align:center">Filial</th>
                                                                    <th style="text-align:center">Base</th>
                                                                    <th style="text-align:center">Movimento (RM)</th>
                                                                    <th style="text-align:center">Valor</th>
                                                                    <th style="text-align:center">Tipo</th>
                                                                    <th style="text-align:left">Cliente</th>
                                                                    <th style="text-align:center">Situação</th>
                                                                    <th style="text-align:center">Opções</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model != null)
                                                                {
                                                                    if (Model.lstItens != null)
                                                                    {
                                                                        foreach (Entities.Cavok item in Model.lstItens)
                                                                        {
                                                                            <tr>
                                                                                <td hidden style="text-align:center">@item.Id_Integracao</td>
                                                                                <td style="text-align:center">@item.Data.ToString("dd/MM/yyyy")</td>
                                                                                <td style="text-align:center">@item.Id</td>
                                                                                <td style="text-align:center">@item.Numero</td>
                                                                                <td style="text-align:center">@item.FILIAL</td>
                                                                                <td style="text-align:center">@item.BASE</td>
                                                                                <td style="text-align:center">@item.MOVIMENTO</td>
                                                                                <td style="text-align:center">@string.Format("{0:#,##0.00#}", item.VALOR)</td>
                                                                                <td style="text-align:center">@item.TIPO</td>
                                                                                <td style="text-align:left">@item.CLIENTE</td>
                                                                                <td style="text-align:center">@item.Situacao</td>

                                                                                @*@if (@item.Status == "IS")
                                                                            {*@
                                                                                <td style="vertical-align:top;text-align:center;padding:0">
                                                                                    <a class="btn" style="padding:0;" title="Informativo"><span class="fa fa-info-circle" style="font-size:17px;" value="@item.Id_Integracao" onclick="Informativo(@item.Id_Integracao, @item.FATURA)"></span></a>
                                                                                    @*<a class="btn modalExcel" title="Reprocessar"><span class="fa fa-refresh" style="font-size:16px;" onclick="if(confirm('Deseja reprocessar o faturamento @item.Id?'))  Reprocessar(@item.Id_Integracao, @item.FATURA)"></span></a>*@
                                                                                </td>
                                                                                @*}
                                                                            else
                                                                            {
                                                                             <td style="vertical-align:top;text-align:center">
                                                                                 <a class="btn modalExcel" title="Reprocessar"><span class="fa fa-refresh" style="font-size:16px;"></span></a>
                                                                             </td>
                                                                            }*@


                                                                            </tr>


                                                                            @*<td><a class="modalBTN" style="padding:0;font-size:12px;text-decoration:none;color:black;font-size:14px;pointer-events:none">@item.NUMEROMOV</a></td>*@

                                                                        }
                                                                    }
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    @*<button class="btn btn-primary nextBtn btn-md pull-right" type="submit">Continuar</button>*@
                                                </div>
                                            </div>
                                            @*teste*@




                                        </div>

                                    </fieldset>
                                </form>
                            </div><!-- /.modal-dialog -->
                        </div>
                    </div>

                </div>
            </main>
        </div>



        <!-- Modal -->
        @*@if (Model != null)
            {
                if (Model.lstInforme != null)
                {*@
        <div class="modal fade" id="modalInformativo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height:99%">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 style="font-weight" class="modal-title" id="exampleModalLabel">
                            <span id="id_Modal"></span> -
                            <span id="tipo_Modal"></span>
                            <span class="pull-right">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </span>
                        </h5>
                        
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover  table-bordered">
                            <tr>
                                <td>Id Integração: <span id="id_integracao_Modal"> </span></td>
                                <td>Situação: <span id="situacao_Modal"> </span></td>
                            </tr>
                            <tr>
                                <td>Fatura: <span id="id_fatura"></span></td>
                                <td>Número: <span id="numero_Modal"></span></td>
                            </tr>
                            <tr>
                                <td>Filial: <span id="filial_Modal"></span></td>
                                <td>Base: <span id="base_Modal"></span></td>
                            </tr>
                            <tr>
                                <td>Movimento: <span id="movimento_Modal"></span></td>
                                <td>Data: <span id="data_Modal"> </span></td>
                            </tr>
                            @*<tr>
                                <td>Data: <span id="data_Modal"> </span></td>
                                <td>Tipo: <span id="tipo_Modal"> </span></td>
                            </tr>*@
                            <tr>
                                <td>Cliente: <span id="cliente_Modal"> </span></td>
                                <td>Descrição: <span id="descricao_Modal"> </span></td>
                            </tr>
                            <tr>
                                <td>Forma Pagamento: <span id="forma_pagamento_Modal"> </span></td>
                                <td>Moeda: <span id="moeda_Modal"> </span></td>
                            </tr>
                            <tr>
                                <td>Valor: <span id="valor_Modal"> </span></td>
                                <td>Cotação: <span id="cotacao_Modal"> </span></td>
                            </tr>
                            <tr>
                                <td>Valor Total: <span id="valor_total_Modal"> </span></td>
                                <td>Valor Total Reais: <span id="valor_total_reais_Modal"> </span></td>
                            </tr>

                            <tr id="corConsideracoes" width="100%" style="height:50px">
                                <td colspan="2"><div class="pre-scrollable" id="consideracoes_Modal" style="max-height:70px"></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modalReprocessarItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height:99%">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 style="font-weight" class="modal-title" id="exampleModalLabel">Reprocessamento para fatura  <span id="id_fatura"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span id="comentario_Modal"></span>

                    </div>
                    @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                      
                    </div>*@
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalReprocessarItens" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height:99%">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 style="font-weight" class="modal-title" id="exampleModalLabel">Reprocessamento para fatura  <span id="id_fatura_rep"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table id="tblReprocessar">
                            <tbody></tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>



        @*<script>
                $(document).ready(function () {

                    var navListItems = $('div.setup-panel div a'),
                            allWells = $('.setup-content'),
                            allNextBtn = $('.nextBtn');

                    allWells.hide();

                    navListItems.click(function (e) {
                        e.preventDefault();
                        var $target = $($(this).attr('href')),
                            $item = $(this);
                        if (!$item.hasClass('disabled')) {
                            //navListItems.removeClass('btn-primary').addClass('btn-default');
                            if ($item.attr('id') != $(navListItems[1]).attr('id')) {
                                $(navListItems[1]).removeClass('btn-primary').addClass('btn-success');
                            }
                            //$('#item3').addClass('btn-success');
                            $item.addClass('btn-primary');
                            allWells.hide();
                            $target.show();
                            $target.find('input:eq(0)').focus();
                        }
                    });

                    allNextBtn.click(function () {
                        var curStep = $(this).closest(".setup-content"),
                            curStepBtn = curStep.attr("id"),
                            nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                            curInputs = curStep.find("input[type='text'],input[type='url'], input[type='password'], input[type='email']"),
                            isValid = true;

                        $(".form-group").removeClass("has-error");
                        for (var i = 0; i < curInputs.length; i++) {
                            if (!curInputs[i].validity.valid) {
                                isValid = false;
                                $(curInputs[i]).closest(".form-group").addClass("has-error");
                            }
                        }

                        if (isValid)
                            nextStepWizard.removeAttr('disabled').trigger('click');
                    });

                    $('div.setup-panel div a.btn-primary').trigger('click');
                });
            </script>*@

        <script>
            $(document).ready(function () {
                allWells = $('#Security-Setup-step'),
                allWells2 = $('#VerifyEmail-step')
                //,allNextBtn = $('.nextBtn');

                allWells.hide();
                allWells2.hide();
            });


            $('.consultaPedido').click(function () {
                $(".divConsultaPedido").toggle();
                $(".divParametrosPedido").toggle();
            });

            $('a.modalBTN').click(function () {
                $('#my-modal').modal({
                    show: true,
                    closeOnEscape: true,
                    backdrop: 'static',
                    keyboard: false
                })
            });




            $('#opcoesImportacaoRegular *').attr("disabled", true);

            $('#importacaoRegularInput').click(function () {
                //$('#opcoesImportacaoRegular').show();
                $('#opcoesImportacaoRegular *').attr("disabled", false);
            });
            $('#depositoEspecialInput').click(function () {
                //$('#opcoesImportacaoRegular').hide();
                $('#opcoesImportacaoRegular *').attr("disabled", true);
            });
        </script>


        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/scripts/jquery-ui.js"></script>
        <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="~/scripts/chosen.jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="~/Content/chosen.css" />
        <link href="~/content/indexcompras.css" rel="stylesheet" />
        <script>
            $(window).load(function () {
                $(".chosen-select").chosen()
            });
        </script>

        <script>
            function populaModal(idIntegracao, numeroMov, situacao, aprovacao, status, data, valor, fornecedor, idMov, comprador) {
                $('#idIntegracao').html(idIntegracao);
                $('#numeroMovModal').html(numeroMov);
                $('#situacaoModal').html(situacao);
                $('#aprovacao').html(aprovacao);
                $('#status').html(status);
                $('#data').html(data);
                $('#valor').html(valor);
                $('#fornecedor').html(fornecedor);
                $('#comprador').text(comprador);
                $('#idMov').text(idMov);
                $('.fornecedor').html(fornecedor);
            }

            function salvarPedidoCompra() {

                var numeroPedido = $('#numeroMovModal').html();
                var dataInicio = $('#strDataInicio').val();
                var dataFim = $('#strDataFim').val();
                var idMov = $('#idMov').html();
                var status = $('#status').html();
                var situacao = $('#situacaoModal').html();
                var id_integracao = $('#idIntegracao').html();
                var origem = '';

                var de = document.getElementById('depositoEspecialInput');
                if (de.checked) {
                    origem = 'DE';
                }

                var ir = document.getElementById('importacaoRegularInput');
                if (ir.checked) {
                    origem = 'IR';
                }

                $.ajax({
                    url: '@Url.Action("AgendarIntegracao", "Compra")',
                    type: 'get',
                    //data: { nroPedidoModal: numeroPedido, strDataInicio: dataInicio, strDataFim: dataFim, idMov: idMov, statusModal: status, situacaoModal: situacao}
                    data: { idMov: idMov, id_integracao: id_integracao, origem: origem },
                    success: function (data) {
                        $("#myForm").submit();
                    },
                    error: function (xhr, textStatus, exceptionThrown) {
                        //$('#btnagendar').attr("disabled", true);
                        alert(exceptionThrown);
                    },
                });
            }

            function Atualiza() {
                $('#myForm').submit();
            }
        </script>

        <script>
            $(function () {
                //$(".datepickerInput").datepicker({ dateFormat: 'dd/mm/yy', language: "pt-BR", locale: 'pt-br' }).val();
                //$(".datepickerInput").datepicker({ dateFormat: 'dd/mm/yy', language: "pt-BR", locale: 'pt-br' });
                $(".datepickerInput").datepicker({
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Próximo',
                    prevText: 'Anterior'
                });

                $('#importacaoRegularInput').attr("disabled", true);
            });

            function isValidDate(date, campo) {
                var temp = date.split('/');
                var d = new Date(temp[1] + '/' + temp[0] + '/' + temp[2]);
                var result = (d && (d.getMonth() + 1) == temp[1] && d.getDate() == Number(temp[0]) && d.getFullYear() == Number(temp[2]));

                if (result != true) {
                    $(campo).text("Data inválida.");
                    $("#btnFiltrar").attr("disabled", true)
                }
                else {
                    $("#btnFiltrar").attr("disabled", false)
                    $(campo).text('');
                }
            }

            function desbloquearPedido(idIntegracao, idMov) {
                $.ajax({
                    url: '@Url.Action("DesbloquearPedido", "Compra")',
                    type: 'get',
                    data: { idIntegracao: idIntegracao, idMov: idMov },
                    //success: function (data) { $('#exampleModal').toggle(); }
                    success: function (data) { $('#myForm').submit(); },
                    error: function (xhr, textStatus, exceptionThrown) {
                        //$('#btnagendar').attr("disabled", true);
                        alert(exceptionThrown);
                    }
                });
            }

            @*$("a.modalInformativo").click(function(evt){

                $.ajax({
                    url: '@Url.Action("Index", "Cavok")',
                    type: 'get',
                    data: {},
                    //success: function (data) { $('#exampleModal').toggle(); }
                    success: function (data) {
                        var input = $("<input>")
                        .attr("type", "hidden")
                        .attr("name", "modalInformativo").val("#modalInformativo")
                        .attr("id", "modalInformativo").val("#modalInformativo");
                        $('#myForm').append($(input));

                        $("#myForm").submit();
                    },
                    error: function (xhr, textStatus, exceptionThrown) {
                        //$('#btnagendar').attr("disabled", true);
                        alert(exceptionThrown);
                    }
                });


            });*@

            //$(document).ready(function () {
            //    $('#modalInformativo').modal('show');
            //});

            @*function informativo(id_integracao)
            {
                $.ajax({
                    url: '@Url.Action("Informativo", "Cavok")',
                    type: 'get',
                    data: { id_integracao: id_integracao },
                    //success: function (data) { $('#exampleModal').toggle(); }
                    success: function (data) {
                        var input = $("<input>")
                        .attr("type", "hidden")
                        .attr("name", "modalInformativo").val("#modalInformativo")
                        .attr("id", "modalInformativo").val("#modalInformativo");
                        $('#myForm').append($(input));
                        $('#modal').val("#modalInformativo");
                        $("#myForm").submit();
                    },
                    error: function (xhr, textStatus, exceptionThrown) {
                        //$('#btnagendar').attr("disabled", true);
                        alert(exceptionThrown);
                    }
                });
            }*@

            function Informativo(id_integracao, id_fatura) {
                $.ajax({
                    url: '@Url.Action("Informativo", "Cavok")',
                    //url: 'ImportacaoDocumento/agendarIntegracao?idMov=' + idMov,
                    //dataType: "json",
                    traditional: true,
                    //data: { idMov: idMov, campos: data2, id_fornecedor: fornecedor, movimento: movimento },
                    data: { id_integracao, id_fatura},
                    contentType: 'json',

                    success: function (response) {
                        var id_int = response[0].Id_Integracao;
                        id_int = id_int > 0 ? id_int : '';
                        var situacao = response[0].Situacao;
                        situacao = situacao == null ? '' : situacao;
                        var fatura = response[0].Fatura;
                        var data = response[0].Data;
                        data = data != '01/01/0001' ? data : '';
                        var tipo = response[0].Tipo;
                        var handling = response[0].HANDLING;
                        var forma_pag = response[0].FORMA_PAGAMENTO;
                        var moeda = response[0].MOEDA;
                        var valor = response[0].VALOR;
                        valor = valor != 0 ? parseFloat(valor).toLocaleString('pt-br', { minimumFractionDigits: 2 }) : '';
                        var cotacao = response[0].COTACAO;
                        cotacao = cotacao > 0 ? parseFloat(cotacao).toFixed(4) : '';
                        cotacao = parseFloat(cotacao).toLocaleString('pt-br', {minimumFractionDigits: 4});
                        //cotacao = cotacao > 0 ? parseFloat(cotacao).toLocaleString() : '';
                        var valor_total = response[0].VALOR_TOTAL;
                        valor_total = valor_total != 0 ? parseFloat(valor_total).toLocaleString('pt-br', { minimumFractionDigits: 2 }) : '';
                        var valor_total_reais = response[0].VALOR_TOTAL_REAIS;
                        valor_total_reais = valor_total_reais != 0 ? parseFloat(valor_total_reais).toLocaleString('pt-br', { minimumFractionDigits: 2 }) : '';
                        var cliente = response[0].Cliente;
                        var consideracoes = response[0].Consideracoes;
                        var numero = response[0].Numero;
                        var filial = response[0].Filial;
                        var base = response[0].Base;
                        var id = response[0].ID;
                        var movimento = response[0].Movimento
                        var cor = response[0].Cor;

                        $('#id_integracao_Modal').html(id_int);
                        $('#situacao_Modal').html(situacao);
                        $('#data_Modal').html(data);
                        $('#tipo_Modal').html(tipo);
                        //if (handling != '') {
                        //    //$('#handling_Modal').html(handling);
                        //    $('#id_fatura').html(fatura + ' / Handling ' + handling);
                        //}
                        //else {
                        //    $('#id_fatura').html(fatura);
                        //}

                        $('#forma_pagamento_Modal').html(forma_pag);
                        $('#moeda_Modal').html(moeda);
                        $('#valor_Modal').html(valor);
                        $('#cotacao_Modal').html(cotacao);
                        $('#valor_total_Modal').html(valor_total);
                        $('#valor_total_reais_Modal').html(valor_total_reais);
                        $('#cliente_Modal').html(cliente);
                        $('#consideracoes_Modal').html(consideracoes);
                        $('#numero_Modal').html(numero);
                        $('#filial_Modal').html(filial);
                        $('#base_Modal').html(base);
                        $('#id_Modal').html(id);
                        $('#movimento_Modal').html(movimento);
                        $('#id_fatura').html(fatura);

                        if (cor == 'B') {
                            $("#corConsideracoes").css("background-color", "white");
                        }
                        else if (cor == 'A') {
                            $("#corConsideracoes").css("background-color", "lightgoldenrodyellow");
                        }
                        else if (cor == 'V') {
                            $("#corConsideracoes").css("background-color", "orangered");
                        }
                        else
                        {
                           $("#corConsideracoes").css("background-color", "white");
                        }

                        $('#modalInformativo').modal({
                            show: true,
                            closeOnEscape: true,
                            backdrop: 'static',
                            keyboard: false
                        })


                    },
                    error: function (xhr, textStatus, exceptionThrown) {
                        //alert(exceptionThrown);
                    },
                });
            }

            function Reprocessar(id_integracao, id_fatura) {
                $.ajax({
                    url: '@Url.Action("Reprocessar", "Cavok")',
                    //url: 'ImportacaoDocumento/agendarIntegracao?idMov=' + idMov,
                    //dataType: "json",
                    traditional: true,
                    //data: { idMov: idMov, campos: data2, id_fornecedor: fornecedor, movimento: movimento },
                    data: { id_integracao, id_fatura},
                    contentType: 'json',

                    success: function (response) {

                        var comentario = response[0].Comentario;
                        var item = response[0].Item;

                        var event_data = '';
                        var dataArray = response;

                        if (dataArray.length == 1) {
                            for (var i = 0; i < dataArray.length; i++) {
                                var item = dataArray[i].Item;
                                var arrivalTime = dataArray[i].Comentario;

                                event_data += '<tr>';
                                event_data += '<td>' + dataArray[i].Comentario + '</td>';
                                event_data += '</tr>';
                            }
                        }
                        else {
                            for (var i = 0; i < dataArray.length; i++) {
                                var item = dataArray[i].Item;
                                var arrivalTime = dataArray[i].Comentario;

                                event_data += '<tr>';
                                event_data += '<td>' + dataArray[i].Item + '. ' + '</td>';
                                event_data += '<td>' + dataArray[i].Comentario + '</td>';
                                event_data += '</tr>';
                            };
                        }



                        $('#id_fatura_rep').html(id_fatura);
                        //$("#tblReprocessar").append(event_data);

                        $("#tblReprocessar tr>td").remove();
                        $('#tblReprocessar').find('tbody').append(event_data);


                        $('#modalReprocessarItens').modal({
                            show: true,
                            closeOnEscape: true,
                            backdrop: 'static',
                            keyboard: false
                        })
                    },
                    error: function (xhr, textStatus, exceptionThrown) {
                        alert(exceptionThrown);
                    },
                });
            }

            $('#btnFiltrar').click(function () {
                var dtInicio = $('#strDataInicio').val();
                var dtFim = $('#strDataFim').val();
                var faturamento = $('#faturamento').val();


                if (dtInicio.length > 0 & dtFim.length > 0 & faturamento.length > 0)
                {
                    var input = $("<input>")
                    .attr("name", "exibir").val("exibir");

                    $('#myForm').append(input);
                    $('#myForm').submit();
                }
                else
                {
                    if (dtInicio.length == 0) {
                        $('#dtIniciDivErro').html('Selecione a data.');
                    }

                    if (dtFim.length == 0) {
                        $('#dtFimDivErro').html('Selecione a data.');
                    }

                    if (faturamento.length == 0) {
                        $('#fatDivErro').html('Selecione o faturamento.');
                    }

                    //$('#fatDivErro').html('Selecione Faturamento');
                    $("#btnFiltrar").attr("disabled", true)
                }
            })

            $('#faturamento').change(function () {
                $('#fatDivErro').html('');
                $("#btnFiltrar").attr("disabled", false)
            })

            $('#strDataInicio').blur(function () {
                var dtInicio = $('#strDataInicio').val();

                if (dtInicio.length == 0)
                {
                    $('#dtIniciDivErro').html('');
                    $("#btnFiltrar").attr("disabled", false)
                }
            })

            $('#strDataFim').change(function () {
                var dtFim = $('#strDataFim').val();

                if (dtFim.length == 0)
                {
                    $('#dtFimDivErro').html('');
                    $("#btnFiltrar").attr("disabled", false)
                }
            })
        </script>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </body>
}
</html>
