@model  Entities.RecebimentoViewModel
@{
    ViewBag.Title = "Painel de metas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cont = 1;
}

<!DOCTYPE html>

<html>
<head>


    <!-- Bootstrap CSS -->
    <link href="~/content/recebimentos/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/content/recebimentos/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/content/recebimentos/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/content/recebimentos/css/font-awesome.min.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="~/content/recebimentos/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/content/recebimentos/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="~/content/recebimentos/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/content/recebimento/css/owl.carousel.css" type="text/css">
    <link href="~/content/recebimentos/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/content/recebimento/css/fullcalendar.css">
    <link href="~/content/recebimentos/css/widgets.css" rel="stylesheet">
    <link href="~/content/recebimentos/css/style.css" rel="stylesheet">
    <link href="~/content/recebimentos/css/style-responsive.css" rel="stylesheet" />
    <link href="~/content/recebimentos/css/xcharts.min.css" rel=" stylesheet">
    <link href="~/content/recebimentos/css/jquery-ui-1.10.4.min.css" rel="stylesheet">



    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src=" ~/Content/Recebimentos/script/Recebimento.js"></script>

</head>
<body>
    <div class="page-wrapper chiller-theme">
        @*<main class="page-content" style="margin-top:0;padding-top:0;position:absolute;top:5px;left:21px;">
                <div class="stepwizard" style="padding-bottom:0;padding-left:0;left:20px;position:relative">
                    <div class="stepwizard">
                        <fieldset>
                            <legend style="margin-bottom:0;top:0;font-size:18px;">Painel</legend>
                        </fieldset>
                    </div>
                </div>
            </main>*@

        <main class="page-content" style="padding-top:20px">
            <div class="container-fluid" style="padding-top:0">

                <section id="container" class="">

                    <!--sidebar end-->
                    <!--main content start-->
                    <section>
                        <section class="wrapper">
                            <!--overview start-->
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3 class="page-header"><i class="fa fa-laptop"></i> TaxDocs - NF sem pedido associado </h3>
                                    <ol class="breadcrumb">
                                        <li><i class="fa fa-home"></i><a href="/RecebimentoAvalara/Index">TaxDocs</a></li>
                                        <li><i class="fa fa-laptop"></i>NF sem pedido associado</li>
                                    </ol>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">


                                    <h3 class="page-header"><i class="fa fa-search"></i> Filtros</h3>
                                    <div class="form-group mx-sm-3 mb-2">
                                        <input type="text" id="descricaonota" class="form-control" placeholder=" Consulte por ( CPNJ / Cliente / NF )" aria-describedby="passwordHelpBlock">
                                        <input type="button" id="btnBusca" class="btn " value="Consultar" style="display:none" onclick="BuscaNota()" />
                                    </div>


                                </div>
                            </div>



                            <!--inicio Model-->
                            <div class="modal fade" id="modaldetalhe" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg" role="document">
                                    <div class="modal-content  ">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="TituloModalCentralizado"><strong>DETALHE DA NOTA </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <iframe src="" id="iframecomplete" frameborder="0" scrolling="auto" width="900px" height="700px"></iframe>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="modaldetalhepedido" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg" role="document">
                                    <div class="modal-content  ">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="TituloModalCentralizado"><strong>DETALHE</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <iframe src="" id="iframecompleteNota" frameborder="0" scrolling="auto" width="900px" height="300px"></iframe>
                                            <p></p>
                                            <iframe src="" id="iframecompleteNotaCima" frameborder="0" scrolling="auto" width="900px" height="300px"></iframe>
                                           
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--inicio Model-->
                            <div class="row">
                                @if (Model.recebimentoNota.Count() == 0)
                                {
                                    <div class="alert alert-block alert-danger fade in" style="font-size:larger; text-align:center ">

                                        <strong>Ops error!</strong> Não há registro disponível para (   @Request.QueryString["Descricaobusca"]   )
                                    </div>
                                }
                                else
                                {
                                    foreach (var item in Model.recebimentoNota.Where(a=>a.CGCCFO!="").ToList())
                                    {
                                        string cnpj = @item.CGCCFO==null ? "0" : item.CGCCFO.Trim().Replace("/", "").Replace("-", "").Replace(".", "");

                                        <div class="col-lg-12 col-md-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">

                                                    <div class="col-lg-12">
                                                        <h3 class="page-header-pedidos">
                                                            <i class="fa fa-pencil-square-o"></i> <a href="#" style="cursor:pointer" onclick="AbreModal('@item.NF_NUMERO', '@cnpj')">@item.NOME -  <strong> @(cnpj.Substring(0, 2) + "." + cnpj.Substring(2, 3) + "." + cnpj.Substring(5, 3) + "/" + cnpj.Substring(8, 4) + "-" + cnpj.Substring(12, 2))  |  <span style="color:red;"> @item.XMOTIVO</span> </strong></a>
                                                            <h4>
                                                                <b>@item.SIGLANOTA.ToUpper():</b> <strong style="color:red"> @item.NF_NUMERO  </strong>  | <b> R$:</b> <strong style="color:dodgerblue">@string.Format("{0:0,0.00}", Math.Round(Convert.ToDouble(item.NF_VALOR.Replace(".", ","))))  </strong>
                                                            </h4>

                                                        </h3>
                                                        <div class="form-check">
                                                           

                                                                @if (@item.SIGLANOTA.ToUpper().Trim().Replace(" ","") == "NFSE")
                                                                {
                                                                    <div class="page-header-pedidos_radio">
                                                                        <input type="radio" name="@item.ID_AVALARA" value="1" checked="checked" />  Entrada
                                                                       
                                                                        </div>

                                                                }
                                                                else
                                                                {
                                                                    <div class="page-header-pedidos_radio">
                                                                        <input type="radio" name="@item.ID_AVALARA" value="1" checked="checked" onclick="document.getElementById('btnremassa-@item.ID_AVALARA').style.display='none';document.getElementById('btnentrada-@item.ID_AVALARA').style.display=''" />  Entrada
                                                                        <input type="radio" name="@item.ID_AVALARA" value="0" onclick="document.getElementById('btnremassa-@item.ID_AVALARA').style.display='';document.getElementById('btnentrada-@item.ID_AVALARA').style.display='none'" /> Remessa                                                                        
                                                                    </div>

                                                                }


                                                                   
                                                        </div>

                                                    </div>

                                                    @*<h5><i class="fa fa-pencil-square-o"></i><strong><a href="" data-toggle="modal" data-target="#ExemploModalCentralizado-@item.CGCCFO">@item.NOME</a></strong></h5><br />*@
                                                    @*<h5><i class="fa fa-pencil-square-o"></i> <strong><a href="#" style="cursor:pointer" onclick="AbreModal(@item.CGCCFO)">@item.NOME</a></strong></h5><br />

                                                        <h6><strong> @(item.CGCCFO.Substring(0, 2) + "." + item.CGCCFO.Substring(2, 3) + "." + item.CGCCFO.Substring(5, 3) + "/" + item.CGCCFO.Substring(8, 4) + "-" + item.CGCCFO.Substring(12, 2))</strong></h6>*@
                                                    @*<div class="panel-actions">
                                                            <input type="radio" name="@(item.CGCCFO)" value="1" />  Remessa <i class="fa fa-chevron-up"> <h4>Remessa</h4></i>
                                                            <input type="radio" name="@item.CGCCFO" value="0" checked="checked" />  Remessa <i class="fa fa-chevron-up"> <h4>Entrada</h4></i>

                                                        </div>*@
                                                </div>



                                                <!--inicio Model-->
                                                @*<div class="modal fade" id="ExemploModalCentralizado-@item.CGCCFO" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg" role="document">
                                                            <div class="modal-content  ">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="TituloModalCentralizado"><strong>DETALHE DA NOTA : <br />{ @(item.CGCCFO.Substring(0, 2) + "." + item.CGCCFO.Substring(2, 3) + "." + item.CGCCFO.Substring(5, 3) + "/" + item.CGCCFO.Substring(8, 4) + "-" + item.CGCCFO.Substring(12, 2)) - @item.NOME</strong> }</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <iframe src="/RecebimentoAvalaraDetalhe/?cnpj=@item.CGCCFO" frameborder="0" scrolling="auto" width="900px" height="700px"></iframe>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                <!--inicio Model-->
                                                <div style="border:hidden">
                                                    <table class="table bootstrap-datatable countries">
                                                        <thead>
                                                            <tr>
                                                                @*<th></th>*@
                                                                <th style="cursor:pointer; color:black" width="300px"><b>NÚMERO / MOVIMENTO</b></th>
                                                                <th style="cursor:pointer; color:black" width="300px"> <b>STATUS DA APROVAÇÃO</b></th>
                                                                <th style="cursor:pointer; color:black" width="300px"><b>EMISSÃO</b></th>
                                                                <th style="cursor:pointer; color:black" width="300px"><b>REQUISITANTE</b></th>
                                                                <th style="cursor:pointer; color:black" width="300px"><b>VALOR</b></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.recebimentoNotaRM.Where(a => a.CNPJ == item.CGCCFO).Count() != 0)
                                                            {


                                                                foreach (var itemNota in Model.recebimentoNotaRM.Where(a => a.CNPJ == item.CGCCFO).ToList())
                                                                {

                                                                    <tr>
                                                                        @*<td><img src="img/Germany.png" style="height:18px; margin-top:-2px;"></td>*@
                                                                        <td style="cursor:pointer" onclick="AbreModalPedido('@itemNota.IDMOV', '@item.NF_NUMERO.Trim()', '@item.CGCCFO.Replace("/","").Replace(".","").Replace("-","")')" width="300px">@itemNota.PEDIDO_NUMERO</td>
                                                                        <td style="cursor:pointer" onclick="AbreModalPedido('@itemNota.IDMOV', '@item.NF_NUMERO.Trim()', '@item.CGCCFO.Replace("/","").Replace(".","").Replace("-","")')" width="300px">@itemNota.STATUS</td>
                                                                        <td style="cursor:pointer" onclick="AbreModalPedido('@itemNota.IDMOV', '@item.NF_NUMERO.Trim()', '@item.CGCCFO.Replace("/","").Replace(".","").Replace("-","")')" width="300px">@itemNota.PEDIDO_EMISSAO.ToShortDateString()</td>
                                                                        <td style="cursor:pointer" onclick="AbreModalPedido('@itemNota.IDMOV', '@item.NF_NUMERO.Trim()', '@item.CGCCFO.Replace("/","").Replace(".","").Replace("-","")')" width="300px">@itemNota.PEDIDO_REQUISITANTE</td>
                                                                        <td style="cursor:pointer" onclick="AbreModalPedido('@itemNota.IDMOV', '@item.NF_NUMERO.Trim()', '@item.CGCCFO.Replace("/","").Replace(".","").Replace("-","")')" width="300px">R$ @string.Format("{0:0,0.00}", Math.Round(Convert.ToDouble(itemNota.PEDIDO_PRECO.ToString().Replace(".", ","))))</td>
                                                                        @if (Model.ListNotaVinculada.Where(a => a.NotaFiscal == item.NF_NUMERO && a.NumpedidoRM == itemNota.PEDIDO_NUMERO_SOMENTE).Count() > 0)
                                                                        {
                                                                            <td style="cursor:pointer;  width:300px;" align="center">
                                                                                @if (@itemNota.STATUS == "APROVADO")                                                                                
                                                                                {
                                                                                    <input type="checkbox" id="scales" name="scales" disabled readonly>
                                                                                }


                                                                            </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td style="cursor:pointer" width="300px" align="center">
                                                                                @if (@itemNota.STATUS == "APROVADO")
                                                                                { 

                                                                                    <input type="checkbox" id="scales" name="scales" onclick="RecebeImod(0,@itemNota.IDMOV, 0,'@itemNota.CODTMV' )"
                                                                                           value="@itemNota.IDMOV">
                                                                                }
                                                                            </td>
                                                                        }


                                                                    </tr>

                                                                }
                                                                
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td colspan="6" align="left">
                                                                        <div class="alert alert-block alert-danger fade in" style="font-size:larger">

                                                                            <strong>Não há pedido / solicitacao disponível </strong>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }

                                                            <tr>
                                                                <td align="right" colspan="6" style="cursor:pointe">
                                                                    @if (Model.recebimentoNotaRM.Where(a => a.CNPJ == item.CGCCFO).Count() == 0)
                                                                    {
                                                                        <a class="btn btn-warning btn-sm" id="btnentrada-@item.ID_AVALARA" href="#" title="Bootstrap 3 themes generator" onclick="alert('Não há pedidos para iniciar está ENTRADA !')">RECEBER</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a class="btn btn-warning btn-sm" id="btnentrada-@item.ID_AVALARA" href="#" title="Bootstrap 3 themes generator" onclick="RecebeImod(@item.ID_AVALARA,0,@item.NF_NUMERO,0)">RECEBER</a>
                                                                    }

                                                                    <a class="btn btn-warning btn-sm" id="btnremassa-@item.ID_AVALARA" style="display:none" href="#" title="Bootstrap 3 themes generator" onclick="RecebeImod(@item.ID_AVALARA,0,@item.NF_NUMERO.Trim())">RECEBER</a>
                                                                </td>
                                                            </tr>
                                                            

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                        </div>
                                    }
                                }

                                <!--/col-->
                                @*<div class="col-md-3">

                                        <div class="social-box google-plus">
                                            <i class="fa fa-pie-chart"></i>
                                            <ul>
                                                <li >
                                                    <strong>0</strong>
                                                    <span>Pendentes</span>
                                                </li>
                                                <li>
                                                    <strong>0</strong>
                                                    <span>Resolvido</span>
                                                </li>
                                            </ul>
                                        </div>
                                        /social-box

                                    </div>*@


                            </div>



                            <!-- statics end -->
                            <!-- project team & activity start -->
                            <br><br>


                            <!-- project team & activity end -->

                        </section>

                    </section>
                    <!--main content end-->
                </section>






            </div>
        </main>
    </div>

    <!-- javascripts -->
    <script src="~/Content/Recebimentos/js/jquery.js"></script>
    <script src="~/Content/Recebimentos/js/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Content/Recebimentos/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Content/Recebimentos/js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/Recebimentos/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="~/Content/Recebimentos/js/jquery.scrollTo.min.js"></script>
    <script src="~/Content/Recebimentos/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="~/Content/Recebimentos/assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="~/Content/Recebimentos/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/Content/Recebimentos/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/Content/Recebimentos/js/owl.carousel.js"></script>
    <!-- jQuery full calendar -->
    <
    <script src="~/Content/Recebimentos/js/fullcalendar.min.js"></script>
    <!-- Full Google Calendar - Calendar -->
    <script src="~/Content/Recebimentos/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <!--script for this page only-->
    <script src="~/Content/Recebimentos/js/calendar-custom.js"></script>
    <script src="~/Content/Recebimentos/js/jquery.rateit.min.js"></script>
    <!-- custom select -->
    <script src="~/Content/Recebimentos/js/jquery.customSelect.min.js"></script>
    <script src="~/Content/Recebimentos/assets/chart-master/Chart.js"></script>

    <!--custome script for all page-->
    <script src="~/Content/Recebimentos/js/scripts.js"></script>
    <!-- custom script for this page-->
    <script src="~/Content/Recebimentos/js/sparkline-chart.js"></script>
    <script src="~/Content/Recebimentos/js/easy-pie-chart.js"></script>
    <script src="~/Content/Recebimentos/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/Recebimentos/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Content/Recebimentos/js/xcharts.min.js"></script>
    <script src="~/Content/Recebimentos/js/jquery.autosize.min.js"></script>
    <script src="~/Content/Recebimentos/js/jquery.placeholder.min.js"></script>
    <script src="~/Content/Recebimentos/js/gdp-data.js"></script>
    <script src="~/Content/Recebimentos/js/morris.min.js"></script>
    <script src="~/Content/Recebimentos/js/sparklines.js"></script>
    <script src="~/Content/Recebimentos/js/charts.js"></script>
    <script src="~/Content/Recebimentos/js/jquery.slimscroll.min.js"></script>
    <script>
      //knob
      $(function() {
        $(".knob").knob({
          'draw': function() {
            $(this.i).val(this.cv + '%')
          }
        })
      });

      //carousel
      $(document).ready(function() {
        $("#owl-slider").owlCarousel({
          navigation: true,
          slideSpeed: 300,
          paginationSpeed: 400,
          singleItem: true

        });
      });

      //custom select box

      $(function() {
        $('select.styled').customSelect();
      });

      /* ---------- Map ---------- */
      $(function() {
        $('#map').vectorMap({
          map: 'world_mill_en',
          series: {
            regions: [{
              values: gdpData,
              scale: ['#000', '#000'],
              normalizeFunction: 'polynomial'
            }]
          },
          backgroundColor: '#eef3f7',
          onLabelShow: function(e, el, code) {
            el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
          }
        });
      });

        function EnviaCliente(cliente){

        		//alert(cliente);

        $(document).ready(function () {

                var val = cliente;
                var url = "/RecebimentoAvalaraParte_3/RecebeInformacoesTela_3";
                alert(val);
                $.post(url, { cnpj: val }, function (data) {
                   location='/Recebimento/'
                });

        });
        }

         $(document).ready(function () {

        //alert('LIMPATUDO')

        localStorage.removeItem('notafiscal');
        localStorage.removeItem('ValorQuantidade');

        });




    </script>



</body>

</html>
